/*Extra small device(Mobile (e.g. Apple iPhone) less than 361px)*/
@media (min-width: 320px) and (max-width: 374.98px) {

    /*header-part start start*/
    .header-part {
        padding: 30px 0px 20px 0px;
    }

    /*its for menu-part*/
    .menu ul {
        margin-top: 15px;
    }

    .menu a {
        font-size: 10px;
        color: #000000;
        float: right;
    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 1rem;
        line-height: 1;
        background-color: #c7c5c5;
    }

    .navbar-toggler-icon {
        background-size: 75% 100%;
    }

    /*header-part end*/
    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 8%;
    }

    .content-part p {
        font-size: 8px;
        width: 90%;
    }

    .content-part h5 {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .content-part h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .content-part h4 {
        font-size: 9px;
        margin-bottom: 15px;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .lifestyle-photodiary-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .lifestyle-photodiary-part p {
        font-size: 8px;
        width: 100%;
        margin-bottom: 30px;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 25px 0px 15px 0px;
    }

    .signup-part h2 {
        margin-bottom: 25px;
        font-size: 15px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 15px;
    }

    .send-part a {
        color: #838282;
        font-size: 9px;
    }

    .send-part hr {
        width: 55%;
        height: 1%;
        border-top: 1.5px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .music-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .music-part h2 {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .music-part p {
        font-size: 8px;
        width: 100%;
        margin-bottom: 30px;
    }

    .music-part a {
        padding: 5px 15px;
        border: 1px solid #979494;
        left: 36%;
        margin-top: 1%;
        font-size: 10px;
    }

    /*music-part end*/
    /*footer-part start*/
    .footer-part {
        padding: 5px 0px 4px 0px;
    }

    /*its for footer-part1*/
    .footer-part1 a {
        font-size: 7px;
    }

    .footer-part1 ul {
        padding-left: 0px;
        padding-right: 0px;
    }

    /*its for footer-part2 */
    .footer-part2 a {
        font-size: 7px;
    }

    .footer-part2 ul {
        padding-right: 0px;
        padding-left: 0px;
    }

    /*footer-part end*/
}

/* small device(Apple iPhone 7, less than 361px)*/
@media (min-width: 375px) and (max-width: 413.98px) {

    /*header-part start start*/
    .header-part {
        padding: 30px 0px 30px 0px;
    }

    /*its for menu-part*/
    .menu ul {
        margin-top: 15px;
    }

    .menu a {
        font-size: 15px;
        color: #000000;
        float: right;
    }

    .navbar-toggler {
        padding: 2px 6px;
        font-size: 1rem;
        line-height: 1;
        background-color: #c7c5c5;
    }

    .navbar-toggler-icon {
        background-size: 81% 100%;
    }

    /*header-part end*/
    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 8%;
    }

    .content-part p {
        font-size: 10px;
        width: 90%;
    }

    .content-part h5 {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .content-part h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content-part h4 {
        font-size: 10px;
        margin-bottom: 15px;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .lifestyle-photodiary-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .lifestyle-photodiary-part p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 30px;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 30px 0px 20px 0px;
    }

    .signup-part h2 {
        margin-bottom: 30px;
        font-size: 16px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 15px;
    }

    .send-part a {
        color: #838282;
        font-size: 9px;
    }

    .send-part hr {
        width: 55%;
        height: 1%;
        border-top: 1.5px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .music-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .music-part h2 {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .music-part p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 30px;
    }

    .music-part a {
        padding: 5px 15px;
        border: 1px solid #979494;
        left: 36%;
        margin-top: 3%;
        font-size: 12px;
    }

    /*music-part end*/
    /*footer-part start*/
    .footer-part {
        padding: 6px 0px 5px 0px;
    }

    /*its for footer-part1*/
    .footer-part1 a {
        font-size: 8px;
    }

    .footer-part1 ul {
        padding-left: 10px;
        padding-right: 5px;
    }

    /*its for footer-part2 */
    .footer-part2 a {
        font-size: 8px;
    }

    .footer-part2 ul {
        padding-right: 10px;
        padding-left: 5px;
    }

    /*footer-part end*/
}

/* small device(Apple iPhone 7 Plus, 361px and up)*/
@media (min-width: 414px) and (max-width: 599.98px) {

    /*header-part start start*/
    .header-part {
        padding: 30px 0px 30px 0px;
    }

    /*its for menu-part*/
    .menu ul {
        margin-top: 15px;
    }

    .menu a {
        font-size: 15px;
        color: #000000;
        float: right;
    }

    .navbar-toggler {
        padding: 2px 6px;
        font-size: 1rem;
        line-height: 1;
        background-color: #c7c5c5;
    }

    .navbar-toggler-icon {
        background-size: 81% 100%;
    }

    /*header-part end*/
    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 8%;
    }

    .content-part p {
        font-size: 10px;
        width: 90%;
    }

    .content-part h5 {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .content-part h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .content-part h4 {
        font-size: 10px;
        margin-bottom: 15px;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .lifestyle-photodiary-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .lifestyle-photodiary-part p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 40px;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 30px 0px 20px 0px;
    }

    .signup-part h2 {
        margin-bottom: 30px;
        font-size: 16px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 15px;
    }

    .send-part a {
        color: #838282;
        font-size: 9px;
    }

    .send-part hr {
        width: 49%;
        height: 1%;
        border-top: 1.5px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-right: 13%;
    }

    .music-part h5 {
        font-size: 10px;
        margin-bottom: 8px;
        margin-top: 20px;
    }

    .music-part h2 {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .music-part p {
        font-size: 10px;
        width: 100%;
        margin-bottom: 40px;
    }

    .music-part a {
        padding: 5px 15px;
        border: 1px solid #636262;
        left: 36%;
        margin-top: 3%;
        font-size: 12px;
    }

    /*music-part end*/
    /*footer-part start*/
    .footer-part {
        padding: 8px 0px 5px 0px;
    }

    /*its for footer-part1*/
    .footer-part1 a {
        font-size: 8px;
    }

    .footer-part1 ul {
        padding-left: 10px;
        padding-right: 5px;
    }

    /*its for footer-part2 */
    .footer-part2 a {
        font-size: 8px;
    }

    .footer-part2 ul {
        padding-right: 10px;
        padding-left: 5px;
    }

    /*footer-part end*/
}

/*Small device(Small Tablet, 576px and up)*/
@media (min-width: 600px) and (max-width: 767.98px) {

    /*header-part start start*/
    .header-part {
        padding: 50px 0px 50px 0px;
    }

    /*its for menu-part*/
    .menu ul {
        margin-top: 15px;
    }

    .menu a {
        font-size: 15px;
        color: #000000;
        float: right;
    }

    .navbar-toggler {
        padding: 3px 8px;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #c7c5c5;
    }

    /*header-part end*/
    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 8%;
    }

    .content-part p {
        font-size: 10px;
        width: 88%;
    }

    .content-part h5 {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .content-part h2 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .content-part h4 {
        font-size: 12px;
        margin-bottom: 20px;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;

    }

    .lifestyle-photodiary-part h5 {
        font-size: 8px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .lifestyle-photodiary-part p {
        font-size: 8px;
        width: 100%;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 30px 0px 20px 0px;
    }

    .signup-part h2 {
        margin-bottom: 40px;
        font-size: 17px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 20px;
    }

    .send-part a {
        color: #838282;
        font-size: 10px;
    }

    .send-part hr {
        width: 40%;
        height: 1%;
        border-top: 1.5px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;
        padding-bottom: 20%;

    }

    .music-part h5 {
        font-size: 8px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .music-part h2 {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .music-part p {
        font-size: 8px;
        width: 100%;
    }

    .music-part a {
        padding: 5px 20px;
        border: 1px solid #636262;
        left: 34%;
        margin-top: 8%;
        font-size: 14px;
    }

    /*music-part end*/
    /*footer-part start*/
    .footer-part {
        padding: 10px 0px 5px 0px;
    }

    /*its for footer-part1*/
    .footer-part1 a {
        font-size: 10px;
    }

    .footer-part1 ul {
        padding-left: 20px;
    }

    /*its for footer-part2 */
    .footer-part2 a {
        font-size: 10px;
    }

    .footer-part2 ul {
        padding-right: 20px;
    }

    /*footer-part end*/
}

/*medium device(Tablet 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*header-part start start*/
    .header-part {
        padding: 50px 0px 50px 0px;
    }

    /*its for menu-part*/
    .menu ul {
        margin-top: 15px;
    }

    .menu a {
        font-size: 15px;
        color: #000000;
        float: right;
    }

    .navbar-toggler {
        padding: 5px 10px;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #c7c5c5;
    }

    /*header-part end*/
    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 8%;
    }

    .content-part p {
        font-size: 12px;
        width: 88%;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;

    }

    .lifestyle-photodiary-part h5 {
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .lifestyle-photodiary-part p {
        font-size: 10px;
        width: 98%;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 30px 0px 20px 0px;
    }

    .signup-part h2 {
        margin-bottom: 40px;
        font-size: 17px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 20px;
    }

    .send-part a {
        color: #838282;
        font-size: 10px;
    }

    .send-part hr {
        width: 30%;
        height: 1%;
        border-top: 1.5px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;

    }

    .music-part h5 {
        font-size: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .music-part h2 {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .music-part p {
        font-size: 10px;
        width: 98%;
    }

    .music-part a {
        padding: 10px 30px;
        border: 1px solid #636262;
        left: 34%;
        margin-top: 8%;
        font-size: 15px;
    }

    /*music-part end*/
    /*footer-part start*/
    .footer-part {
        padding: 10px 0px 5px 0px;
    }

    /*its for footer-part1*/
    .footer-part1 a {
        font-size: 13px;
    }

    .footer-part1 ul {
        padding-left: 20px;
    }

    /*its for footer-part2 */
    .footer-part2 a {
        font-size: 13px;
    }

    .footer-part2 ul {
        padding-right: 20px;
    }

    /*footer-part end*/
}


/*large device(desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    /*its for menu-part*/
    .menu ul li {
        padding: 0px 5px 0px 60px;
    }

    /*content-part start*/
    .content-part {
        padding-left: 0%;
        padding-top: 6%;
    }

    .content-part p {
        font-size: 12px;
        width: 109%;
    }

    /*content-part end*/
    /*lifestyle-photodiary-part*/
    .lifestyle-photodiary-part {
        padding-left: 13%;
        padding-top: 6%;

    }

    .lifestyle-photodiary-part h5 {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .lifestyle-photodiary-part h2 {
        font-size: 23px;
        margin-bottom: 20px;
        margin-bottom: 15px;
    }

    .lifestyle-photodiary-part p {
        font-size: 11px;
        width: 98%;
    }

    /*its for photodiary*/
    .photodiary {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /*lifestyle-photodiary-end*/
    /*signup-part start*/
    .signup-part {
        background-color: #f0f0f0;
        padding: 40px 0px 40px 0px;
    }

    .signup-part h2 {
        margin-bottom: 60px;
        font-size: 25px;
    }

    /*its for send-part*/
    .send-part ul li {
        padding: 0px 40px;
    }

    .send-part a {
        color: #838282;
        font-size: 14px;
    }

    .send-part hr {
        width: 32%;
        height: 1%;
        border-top: 2px solid #292929;
    }

    /*signup-part end*/
    /*music-part start*/
    .music-part {
        padding-left: 13%;
        padding-top: 6%;

    }

    .music-part h5 {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .music-part h2 {
        font-size: 23px;
        margin-bottom: 20px;
        margin-bottom: 15px;
    }

    .music-part p {
        font-size: 11px;
        width: 98%;
    }

    .music-part a {
        padding: 10px 35px;
        border: 1px solid #636262;
        left: 34%;
        margin-top: 8%;
        font-size: 17px;
    }

    /*music-part end*/
}

/*Extra large device(Widescreen,1280px and up)*/
@media (min-width: 1200px) {}